@import "tailwindcss";
@plugin "daisyui";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* over body ar moddhe jeno apply hoa tar jonno */
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f2f2f2;
}
